.bg {
  background-image: url(../../images/background.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
}
.ingreeds {
  position:fixed;
  height: 10px;
}
.ingredients1 {
  background-color: rgb(66, 16, 5, 0.3);
  z-index: 11;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
  align-items: center;
  
}

.ingredients2 {
  background-color: rgb(66, 16, 5, 0.3);
  z-index: 11;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  margin-top: 10px;
  border-radius: 10px;
}

.tr, td {
  border:1px solid white;
  color:white;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  text-align: center;
}

.pixely {
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  color: white;
  padding-bottom: 15px;
  padding-top: 5px;
}

.link {
  font-size: 13px;
  color: rgb(255, 222, 169);
}
.recipes {
  font-size: 20px;
  
}
.name {
  font-weight: bold;
}
.have {
  color: white;
  font-weight:bold;
}
.missing {
  color: white;
  font-weight:bold;
}
.item {
  color: rgb(255, 222, 169);
}
