

.background {
  background-image: 
  url(
"https://cdn.discordapp.com/attachments/1062488621577425008/1063986782242340936/5714084.jpg");
  /*background-size: "200px 100px"; */
  width: 100; 
  height: 100;
  margin-top: -70px;
  font-size:50px;
  position: absolute;
  background-position: top center;
  background-size: cover;  
  background-repeat:no-repeat; 
}