.upload-comp {
  background-image: url(./uploadbackground.png);
  height: 1080px;
  

}

.fridge {
  margin-top: 20px;
  margin-right: 55px;
}


input {
  display: none ;
}


.filelabel{
  position: absolute;
  left: 46%;
  top: 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-clip: padding-box;
  background-color: #B27C68;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-top: 20px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.message {
  position: absolute;
  margin-left: 460px;
  margin-top: 590px;

}