*, *::before, *::after {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-secondary: #F8D3A3;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 500ms ease;
}

body {
  background-color: #E3AE85;
}